.set_env
pom.xml
*jar
*.log
/lib/
/classes/
.lein-deps-sum
.lein-failures
.lein-plugins/
tags
src/plugins
target/
.lein-env
.lein-repl-history
.ruby-version
config/config.edn
yetibot-config.edn
profiles.clj
/checkouts
pom.xml.asc
profiles.clj
.idea/
*.iml
