;; Dictionary initially lifted from
;; https://github.com/stevehodges/talk_like_a_pirate

{"address" "port 'o call"
 "admin" "helm"
 "am" "be"
 "an" "a"
 "and" "n'"
 "are" "be"
 "award" "prize"
 "beer" "grog"
 "before" "afore"
 "belief" "creed"
 "between" "betwixt"
 "big" "vast"
 "boy" "lad"
 "boys" "laddies"
 "boss" "admiral"
 "bourbon" "rum"
 "box" "barrel"
 "business" "company"
 "businesses" "companies"
 "calling" "callin'"
 "canada" "Great North"
 "cash" "doubloons"
 "cheat" "hornswaggle"
 "comments" "yer words"
 "country" "land"
 "dashboard" "shanty"
 "disconnect" "keelhaul"
 "do" "d'"
 "dollar" "doubloon"
 "dude" "pirate"
 "employee" "crew"
 "everyone" "all hands"
 "eye" "eye-patch"
 "family" "kin"
 "fee" "debt"
 "female" "wench"
 "for" "fer"
 "friend" "shipmate"
 "gin" "rum"
 "girl" "lass"
 "girls" "lassies"
 "go" "sail"
 "good" "jolly good"
 "group" "maties"
 "hand" "hook"
 "hello" "ahoy"
 "hey" "ahoy"
 "hotel" "inn"
 "i'm" "i be"
 "internet" "series o' tubes"
 "invalid" "sunk"
 "is" "be"
 "island" "isle"
 "isn't" "be not"
 "it's" "'tis"
 "jail" "brig"
 "kill" "keelhaul"
 "leg" "peg"
 "lady" "lass"
 "logout" "walk the plank"
 "male" "brigand"
 "man" "scallwag"
 "manager" "admiral"
 "money" "doubloons"
 "month" "moon"
 "my" "me"
 "never" "nary"
 "no" "nay"
 "of" "o'"
 "over" "o'er"
 "page" "parchment"
 "person" "pirate"
 "posted" "tacked to the yardarm"
 "president" "king"
 "prison" "brig"
 "quickly" "smartly"
 "really" "verily"
 "relatives" "kin"
 "religion" "creed"
 "role" "job"
 "say" "cry"
 "seconds" "ticks o' tha clock"
 "shipping" "cargo"
 "small" "puny"
 "soldier" "sailor"
 "sorry" "yarr"
 "spouse" "ball 'n' chain"
 "state" "land"
 "supervisor" "Cap'n"
 "that's" "that be"
 "the" "tha"
 "them" "'em"
 "this" "dis"
 "to" "t'"
 "vodka" "rum"
 "we" "our jolly crew"
 "we're" "we's"
 "wine" "grog"
 "whiskey" "rum"
 "whisky" "rum"
 "with" "wit'"
 "woman" "wench"
 "work" "duty"
 "yah" "aye"
 "yeah" "aye"
 "yes" "aye"
 "you" "ye"
 "you're" "you be"
 "you've" "ye"
 "your" "yer"}
