["avast"
 "splice the mainbrace"
 "shiver me timbers"
 "ahoy"
 "arrrrr"
 "arrgh"
 "yo ho ho"
 "yarrr"
 "eh"
 "arrrghhh"
 "arrr"
 "ahoy matey"
 "prepare to be boarded"
 "hoist the mizzen"
 "blow me down"
 "swab the poop deck"
 "ye landlubber"
 "bring 'er alongside"
 "hang 'im from the yardarm"
 "blow the man down"
 "let go and haul"
 "heave to"
 "take no prisoners"
 "belay that"
 "me bucko"
 "lock 'im in irons"
 "and a bottle 'o rum"
 "and donae spare the whip"
 "pass the grog"
 "and swab the deck"
 "fire the cannon"
 "sleep with t' fishes"]
