html { width: 100%; height: 100%; }
body {
  background: -webkit-radial-gradient(#fff, #e1e1e1, #ddd);
  background: -moz-radial-gradient(#fff, #e1e1e1, #ddd);
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial;
  color: #333;
}

.animate {
  transition: all 1s linear .1s;
  -webkit-transition: all .5s linear .1s;
  -moz-transition: all 1s linear .1s;
}


div.content {
  width: 400px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;

  opacity: 0;
  border: 5px solid #ddd;
  background: white;
  border-radius: 200px;
  padding-top: 100px;
  height: 300px;
  margin-top: -210px;
  box-shadow: 0px 0px 200px #fff;

}
div.content.shown {
  opacity: 1;
}

a {
  border: 0;
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

img.yeti {
  -webkit-transition-duration: .2s;
  -webkit-transition-delay 0s;
  position: relative;
  top: 20px;
  -webkit-filter: blur(2px);
}
div.content:hover img.yeti {
  -webkit-filter: blur(0px);
}

div.content:hover {
  background: #f1f1f1;
}


h1 {
  margin-bottom: 8px;
}
p { 
  margin: 0 0 10px 0;
  font-weight: 100;
  color: #666; }
