name: Release to Clojars and Dockerhub

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: DeLaGuardo/setup-clojure@13
        with:
          lein: 2.11.2

      - name: maven cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: timestamp
        # by setting INFERV_TIMESTAMP_MS we will get deterministic versions from
        # `lein pprint :version`
        run: echo "INFERV_TIMESTAMP_MS=`date +%s%3N`" >> $GITHUB_ENV
      - name: version
        run: echo "YB_VERSION=`lein pprint :version | sed 's/\"//g'`" >> $GITHUB_ENV
      - name: docker tag
        run: echo "YB_DOCKER_TAG=yetibot/yetibot:$YB_VERSION" >> $GITHUB_ENV
      - name: verify
        run: env

      # Clojars release and docker build/push can happen in parallel

      # Clojars
      - name: release
        env:
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
        run: lein with-profile deploy release

      # Docker
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.YB_DOCKER_TAG }}
            yetibot/yetibot:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trigger yetibot-helm
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.YETIBOT_GITHUB_TOKEN }}
          repository: yetibot/yetibot-helm
          event-type: bump
          client-payload: |
            {
              "message": {
                "yb_docker_tag": "${{ env.YB_DOCKER_TAG }}",
                "yb_version": "${{ env.YB_VERSION }}"
              }
            }
